<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragment/head::head}"></div>

<body>
<div th:replace="~{fragment/body::header}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragment/menu::menu('/http/requests')}"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Add Request</h2>
            </div>

            <form class="form" id="form" onsubmit="return false">

                <div class="mb-3">
                    <label class="form-label" for="pathUrl">Path Url</label>
                    <input class="form-control" id="pathUrl" name="pathUrl" required type="text">
                    <div class="form-text">access url</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="method">Method</label>
                    <select aria-label="Default select example" class="form-select" id="method" name="method">
                        <option th:each="method : ${T(org.springframework.http.HttpMethod).values()}"
                                th:text="${method.name()}" th:value="${method.name()}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="header">Header</label>
                    <textarea class="form-control" id="header" name="header" required rows="3"></textarea>
                    <div class="form-text">mandatory header, json format with array value</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="queryParam">Query Param</label>
                    <textarea class="form-control" id="queryParam" name="queryParam" required rows="3"></textarea>
                    <div class="form-text">mandatory query param, json format with array value</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="body">Body</label>
                    <textarea class="form-control" id="body" name="body" required rows="3"></textarea>
                    <div class="form-text">mandatory body request</div>
                </div>

                <div class="mb-3 form-check">
                    <input class="form-check-input" id="enabled" name="enabled" type="checkbox">
                    <label class="form-check-label" for="enabled">Enabled</label>
                </div>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>


        </main>
    </div>
</div>


<div th:replace="~{fragment/body::js}"></div>
<script th:inline="javascript">

    let apiUrl = '/web/api/v1/http/requests'
    let webUrl = '/http/requests'

    $(document).on('submit', '#form', function (e) {
        let obj = JSON.parse(serialize_form(this));


        for (const [key, value] of Object.entries(obj)) {
            if (value === 'on')
                obj[key] = true;
        }

        $.ajax({
            headers: {
                'Content-Type': 'application/json'
            },
            type: 'POST',
            url: apiUrl,
            dataType: 'json',
            data: JSON.stringify(obj),
            success: function (response) {
                console.log(response)
                // window.location.href = webUrl
            },
            error: function (request, status, error) {
                console.log(resquest.responseText)
                // alert(JSON.parse(request.responseText).message);
            }
        });
    })

</script>

</body>
</html>
