<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragment/head::head}"></div>

<body>
<div th:replace="~{fragment/body::header}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragment/menu::menu('/http/requests')}"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="container bg-body rounded shadow-sm">
                <div class="row">
                    <div class="col">
                        <div class="my-3 p-3">
                            <h4 class="border-bottom mb-9">Request</h4>
                            <form class="form row g-3" id="formRequest" onsubmit="return false">
                                <div class="col-md-2">
                                    <label for="method" class="form-label">Method</label>
                                    <select aria-label="Default select example" class="form-select" id="method"
                                            name="method">
                                        <option th:each="method : ${T(org.springframework.http.HttpMethod).values()}"
                                                th:text="${method.name()}" th:value="${method.name()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-10">
                                    <label for="pathUrl" class="form-label">Path Url</label>
                                    <input type="text" class="form-control" id="pathUrl" name="pathUrl">
                                </div>
                                <div class="col-12">
                                    <label class="form-label" for="requestQueryParam">Query Param</label>
                                    <textarea class="form-control" id="requestQueryParam" name="queryParam" required
                                              rows="3"></textarea>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" for="requestHeader">Header</label>
                                    <textarea class="form-control" id="requestHeader" name="header" required
                                              rows="3"></textarea>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" for="requestBody">Body</label>
                                    <textarea class="form-control" id="requestBody" name="body" required
                                              rows="3"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="my-3 p-3">
                            <h4 class="border-bottom mb-9">Response</h4>
                            <form class="row g-3">

                                <div class="col-md-4">
                                    <label for="httpStatusCode" class="form-label">Http Status Code</label>
                                    <input type="text" class="form-control" id="httpStatusCode">
                                </div>

                                <div class="col-md-5">
                                    <label for="responseTimeInMillis" class="form-label">Response time in millis</label>
                                    <input type="number" class="form-control" id="responseTimeInMillis">
                                </div>

                                <div class="col-12">
                                    <label class="form-label" for="responseHeader">Header</label>
                                    <textarea class="form-control" id="responseHeader" name="header" required
                                              rows="3"></textarea>
                                </div>

                                <div class="col-12">
                                    <label class="form-label" for="responseBody">Body</label>
                                    <textarea class="form-control" id="responseBody" name="body" required
                                              rows="3"></textarea>
                                </div>


                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
</div>


<div th:replace="~{fragment/body::js}"></div>
<script th:inline="javascript">

    let apiUrl = '/web/api/v1/http/requests'

    // let webUrl = '/http/requests'

    function getId() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('id')
    }

    $(document).ready(function () {
        if (getId() === null) return;

        $.ajax({
            headers: {
                'Content-Type': 'application/json'
            },
            url: apiUrl + '/' + getId(),
            type: 'GET',
            success: function (response) {
                for (const [key, value] of Object.entries(response.data)) {
                    $('#' + key).val(value);
                }
            }
        })
    });


    $(document).on('submit', '#formRequest', function (e) {
        let obj = JSON.parse(serialize_form(this));

        $.ajax({
            headers: {
                'Content-Type': 'application/json'
            },
            type: 'POST',
            url: apiUrl,
            dataType: 'json',
            data: JSON.stringify(obj),
            success: function (response) {
                console.log(response)
                // window.location.href = webUrl
            },
            error: function (request, status, error) {
                console.log(resquest.responseText)
                // alert(JSON.parse(request.responseText).message);
            }
        });
    })


</script>

</body>
</html>
