<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<nav th:fragment="menu(active_menu)" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
<!--                <a th:classappend="${active_menu=='contracts'} ? 'active' : ''"-->
                <a class="nav-link" href="/http/histories" th:classappend="${active_menu=='/http/histories'} ? 'active' : ''">
                    <span data-feather="activity" class="align-text-bottom"></span>
                    Histories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/http/requests" th:classappend="${active_menu=='/http/requests'} ? 'active' : ''">
                    <span data-feather="git-pull-request" class="align-text-bottom"></span>
                    Http Request
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/http/responses" th:classappend="${active_menu=='/http/responses'} ? 'active' : ''">
                    <span data-feather="arrow-left-circle" class="align-text-bottom"></span>
                    Http Response
                </a>
            </li>
        </ul>

    </div>
</nav>

</html>
